
body{
    font-family: 'Lato', sans-serif;
    color:#7E7E7E;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    min-height:102vh;
}

a, a:hover, a:focus{
    color:#7E7E7E;
    text-decoration:none;
}

.btn{
    border:0;
}
.btn.btn-primary{
    background-color:#3BB77E;
    color:#fff;
}
.btn.btn-primary:hover{
    background-color:#34a16f;
}

.form-group{
    margin-bottom:20px;
}
.form-group label{
    color:#253D4E;
    font-weight:700;
}

input.form-control:focus{
    border-color:#3bb77e;
    box-shadow:none;
}

.padding-10{
    padding:10px 0px;
}
.padding-20{
    padding:20px 0px;
}
.padding-30{
    padding:30px 0px;
}
.padding-40{
    padding:40px 0px;
}
.padding-50{
    padding:50px 0px;
}

h1, h2, h3, h4, h5, h6, .section-title-area, .form-group label{
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
}
.section-title{
    color: #253D4E;
    font-weight: 700;
    line-height: 1.2;
}
.section-title-area .description{
    font-size:1.2em;
    font-weight: 700;
}

/* ---- Store Loop Container ---- */
.store-loop-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width:1469px;
    margin:0 auto;
}
.store-loop-container .product-filter-container{
    width:15%;
}
.store-loop-container .products-side{
    width:85%;
}


/* ---- Product Loop ---- */
.products-loop{
    position: relative;
    display:flex;
    flex-wrap:wrap;
}
.products-loop article{
    position: relative;
    padding:0px 15px 20px 15px;
    border: 1px solid #efefef;
    border-radius: 20px;
    margin:0px 1% 30px 0px;
    transition:all 0.2s;
    overflow:hidden;
    height:fit-content;
}
.products-loop.layout article{
    flex:0.1 0 24.24%;
}
.products-loop.layout article a{
    cursor:pointer;
}
.products-loop article:hover{
    border-color:#e1dfdf;
}
.products-loop article .image-area .tag{
    background-color: #3BB77E;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 22px;
    border-radius: 15px 0 20px 0;
    z-index:100;
}
.products-loop article .image-area img{
    transition:all 0.2s;
}
.products-loop article:hover .image-area img{
    transform:scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.products-loop article .image-area .category{
    display:block;
    color:#adadad;
}
.products-loop article .product-title a, .products-loop article .price-area .price{
    color: #253D4E;
    font-weight: 700;
    line-height: 1.2;
}
.products-loop article .product-title:hover a{
    color:#3BB77E;
}
.products-loop article .product-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.products-loop article .product-options .price-area .price{
    display: block;
    color: #3BB77E;
    font-size: 1.6em;
}
.products-loop article .product-options .price-area .old-price{
    text-decoration:line-through;
    font-weight:700;
}

.add-to-cart{
    background-color:#DEF9EC;
    color:#3BB77E;
}
.add-to-cart:hover{
    background-color:#3BB77E;
    color:#fff;
}
.add-to-cart i{
    margin-right:4px;
}

/* ---- Account Area ----- */
.area-title{
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    font-weight: 700;
}
.input-row{
    margin-bottom:20px;
    font-family:"Quicksand", sans-serif;
}

.addresses, .input-row.two{
    display: flex;
    justify-content:space-between;
}
.input-row.two .form-group{
    width:48%;
}
.title-div{
    font-weight:700;
}

.input-row label{
    margin-bottom:10px;
    font-weight:700;
}

@media screen and (min-width:1100px){
    .products-loop article:nth-of-type(4n+4){
        margin-right:0;
    }
}


@media screen and (max-width:1100px){
    .products-loop article{
        flex:0.1 0 32%;
    }
}

@media screen and (max-width:992px){
    .products-loop article{
        flex:0.1 0 100%;
    }
}